/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family: verdana, sans-serif;
	background: #223545;
	color: #66C6C3;
	margin: 30px;
}


#container {
	border: 1px solid #66C6C3;
	background: #113D24;
	width: 85%;
	max-width: 880px;
	margin: auto;
	padding: 10px;
}

ul {
	list-style: none;
	padding-left:0px;
}

a {
	color: #883B95;
}

a:hover{
	color: #B8932F;
}

figure {
	margin: 0px;
}

figure img {
	width: 100%;
}

figure.tux {
	width: 45%;
}

figcaption, footer {
	font-size: 0.75em;
}





