/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}



/* Mobile First CSS: we'll design for phone sizes first, then add media queries for larger screens later */

body {
	background: #1BD2A7;
	color: #6D2433;
	
}


#container {
	
}

main {
	padding: 15px;
}

header, footer {
	background: #2FA488;
	padding: 10px;
}

h1 {
	font-size:3.8em;
	line-height:1em;
}

section#us {
	background:#36EFC3;
	padding: 5px;
}


/* ========================================
MEDIA QUERIES!
You can adjust the min-width numbers below, and add as many new media queries as you need.
======================================== */



/* Minimum width for laptops. */
@media all and (min-width: 769px) {
	
	body {
		background: url(../img/PlaceholderImage.png) no-repeat fixed center;
		background-size: cover;
	}
	main {
		width: 85%;
		margin:auto;
	}
	
	section#others {
		background: rgb(38, 185, 151, 0.5);
		text-shadow:1px 1px #000000;
		padding: 5px;
	}
	
	footer {
		background: none;
	}
	
	
} /* closes 769px+ */




/* Minimum width for desktop screens. */
@media all and (min-width: 1024px) {
	
	#container {
	
	}
	p {
		font-size: 1.5em;
	}
	section#others {
		float:left;
		width:40%;
	}
	
	section#us {
		float:right;
		width:40%;
	}
	
	footer {
		clear:both;
	}
	
} /* closes 1024px+ */



