/* Basic CSS resets -- leveling slight inconsistencies in browsers */
html, body {
	margin:0px;
	padding:0px;
	height:100%;
}

html {
		/* Standard text-settings below */
	font-size: 1em;
    line-height: 1.4em;
}




body {
	font-family:Verdana, sans-serif;
	background:#301373;
	color:rgba(25, 155, 170, 0.95);
}


div#container {
	border: 1px solid blue;
	width: 800px;
	margin:auto;
	margin-top:45px;
	padding: 1em;
	background:#6A3667;
	text-shadow: 1px 1px 3px black;
}

header{
	font-family:Impact, sans-serif;
	text-align:center;
}

footer{
	font-size: 0.5em;
}

header, footer{
	background: #081166;
	padding:10px;
}

